@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#container{
    background: #00D1FF;
    width: 1000px;
    max-width: 96%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}

#container h2{
    font-size: 35px;
    margin-bottom: 20px;
}

#container table{
    border: 1px solid #fff;
    border-collapse: collapse;
    width: 100%;
}

#container table th{
    padding: 8px;
    font-size: 20px;
    border: 1px solid #fff;
}

#container table td{
    border: 1px solid #fff;
    padding: 5px;
}

@media (max-width: 750px) {
    #container h2{
        font-size: 29px;
    }
    #container{
        overflow: auto;
        padding: 20px;
    }
    
    #container #table{
        max-width: 700px;
        width: 700px;    
    }

    #container table th{
        padding: 7px;
        font-size: 16px;
    }

    #container table td{
        padding: 5px;
        font-size: 14px;
    }
}