@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

header{
    background: #FF6E31;
    height: 75px;
}

header nav{
    height: 100%;
    width: 1200px;
    padding: 0 20px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: white;
}

header nav h2{
    font-size: 32px;
}

header nav ul{
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

header nav ul a{
    font-size: 20px;
    position: relative;
}

header nav ul a.Active::after{
    content: '';
    position: absolute;
    width: 180%;
    height: 5px;
    background: white;
    bottom: -6px;
    left: 0;
    transform: translateX(-20%);
}

header nav ul a::after{
    content: '';
    position: absolute;
    height: 5px;
    bottom: -6px;
    left: 0;
    transform: translateX(-20%);    
    transition: all ease 0.3s;
}


header nav ul a:hover::after{
    width: 180%;
    background: white;
}

#Menu, #checkBox{
    display: none;
}

@media (max-width: 900px) {
    header nav ul{
        background: black;
        width: 0;
        position: absolute;
        top: 75px;
        left: -100%;
        height: 100vh;
        padding: 35px 20px 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all cubic-bezier(1, 0.72, 0.29, 0.95) 0.3s;
        overflow: hidden;
    }

    #checkBox:checked ~ ul{
        width: 100%;
        left: 0;
        overflow: auto;
    }

    header nav ul li{
        margin-bottom: 35px;
    }
    #Menu{
        display: block;
        color: white;
        font-size: 30px;
    }
}

@media (max-width: 500px){
    header nav h2{
        font-size: 26px;
    }

}